InputOutput

In [6]:
bil1 = input('Isikan bilangan 1')
bil2 = input('Isikan bilangan 2')
hasil = int(bil1) + int(bil2)
print("Hasil ", bil1, "+", bil2,"=",hasil)

Isikan bilangan 11
Isikan bilangan 22
Hasil  1 + 2 = 3

In [9]:
panjang = input('mencari panjang')
lebar = input('mencari lebar')
hasil = int(panjang) * int(lebar)
print("Hasil",panjang, "*", lebar, "=",hasil)

mencari panjang12
mencari lebar2
Hasil 12 * 2 = 24

In [14]:
print ("X","W","Y","Z", sep='\n')

X
W
Y
Z

In [13]:
num_1 = 8
num_2 = 10

# hasil dari 8 modulus 10 = 8
#str.format()

print('hasil dari{} modulus {} = {}'. format(num_1,num_2,num_1%num_2))

hasil dari8 modulus 10 = 8

In [15]:
fname = "Bambang"
mname = "Susilo"
lname = "Yudhoyono"

print('Nama anda {2} {0} {1}'.format(fname,mname,lname))

Nama anda Yudhoyono Bambang Susilo

In [16]:
print('Nama anda {nama}, nilai anda {nilai}'.format(nama='Gopal',nilai=20))

Nama anda Gopal, nilai anda 20

In [19]:
univ = "Institut Teknologi Bandung"

print("karakter pertama : ",univ[0])
print("karakter terakhir : ",univ[-1])
#unversitas
print(univ[0:22])

karakter pertama :  I
karakter terakhir :  g
Institut Teknologi Ban

In [23]:
f_name = 'Adudu'
l_name = 'Batman'

print(f'Nama saya {f_name} {l_name}')

first = 100
second = 50

print(f'Hasil penjumlahan {first} + {second} = {first+second}')

Nama saya Adudu Batman
Hasil penjumlahan 100 + 50 = 150

In [34]:
nama = "Americano,Vanilla,Oreo"
nama2 = "Americano Vanila Oreo"
#split -> memisahkan string berdasarkan karakter tertentu
print(nama2.split())
print(nama.split(','))

#join ->menggabungkan karakter kedalam kumpulan karakter
print('@'.join(nama.split(',')))

#input:
#tgl - 14/maret/2024
#input nama -> Lionel Messi
#output:
#tgl : Bulan:Maret, Tahun : 2003
#Nama Initial : LM 

tgl =input("Masukan Tanggal Lahir")
nama =input("Masukan nama")
pemisah = tgl.split('/')
print(f'tanggal : {pemisah{0}}, bulan : {pemisah{1}}, tahun : {pemisah{2}}')
pemisah2 = nama.split()
nama_pertama = pemisah2 {0}
nama_terakhir = pemisah {1}
print(f'Nama inisial : {nama_pertama{0}+nama_terakhir{0}}')

SyntaxError: f-string: invalid syntax (2251820374.py, line 20)